/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 10px;
  width: 1200px;
  
  }
  
  .companyName {
    font-size: 24px;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve el contenido hacia la esquina superior derecha */
  }
  
  .navLink {
    margin-left: 1rem; /* Espacio entre los enlaces */
    text-decoration: none;
    color: white;
  }
  
  .image {
    width: 7%; 
    margin-right: 1rem;
  }

  .image2 {
    width: 22%; 
    margin-right: 1rem;
  }