/* Card.module.css */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff; /* Cambia el color del borde a blanco */
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    background-color: #000; /* Cambia el fondo a negro */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* Cambia el sombreado a blanco */
    text-align: center;
    max-width: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4); /* Cambia el sombreado al pasar el ratón */
  }
  
  .image {
    width: 180px;
    height: 180px;
    margin-bottom: 16px;
    transition: transform 0.2s ease;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .club {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #fff; /* Cambia el color del texto a blanco */
  }
  
  .detalle {
    margin-top: 8px;
    color: #fff; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Hace que el texto sea más grueso */
  }
  
  .precio {
    color: #007bff;
    font-weight: bold;
  }
  
  .codigo {
    color: #555;
  }
  