/* Seccion.module.css */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .card {
    position: relative;
    width: 400px;
    /* Elimina el fondo blanco */
 
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 200px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Escala la imagen para llenar el espacio manteniendo la relación de aspecto */
    border-radius: 5px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  h2, a {
    margin: 5px;
  }
  