/* Home.module.css */
.pageContainer {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex a columna */

}

.titulo {
    
  text-align: center; /* Centra horizontalmente el texto */
display: flex; /* Utiliza flexbox para centrar verticalmente */
justify-content: center; /* Centra verticalmente el contenido horizontalmente */
align-items: center; /* Centra verticalmente el contenido verticalmente */
height: 100%; /* Ajusta la altura al 100% del contenedor */

}